
    



.form {
    background-color: black;
    color: white;
    height: 250px;
    width: 40%;
    border: 2px solid red;
    padding: 30px 30px 30px 30px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
